
nav{
    width: 96%;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.945);
    height: 20%;
    padding: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: white;
    border-radius: 15px;


}

.links{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 0 5px;

}

.container{
    display: flex;
    justify-content: space-around;
    
}

.links:hover{
    background-color: aliceblue;
    color: black;
    border-radius: 20px;
    
}