
.container{
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;

  padding-left: 20px;
}

.boton{
  width: 150px;
  height: 25px;
}

.carta{
  background-color: black;
  color: white;
}